p {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 3000px;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-left: 110px;
    padding-right: 24px;
    border-right-color: rgb(228, 228, 228);
  }
  
 