.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
}
.sidebar-link {
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar-link:hover {
  border-radius: 6px;
  background-color: rgb(240, 240, 240);
}
.sidebar img {
  height: 24px;
  margin-bottom: 6px;
}
.sidebar a {
  text-decoration: none;
  color: black;
}
.sidebar div {
  font-size: 10px;
}
